{require_otp_vsn, "R13B04|R14|R15"}.

{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import]}.
{port_specs, [{"priv/snappy_nif.so", ["c_src/*.cc", 
                                      "c_src/snappy/*.cc"]}]}.
{port_env, [
    %% Linux/unix
    {"(linux|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"},
	
    %% Windows MSVC10
    {"win32", "CC", "cl.exe"},
    {"win32", "CXX", "cl.exe"},
    {"win32", "LINKER", "link.exe"},
    {"win32", "DRV_CXX_TEMPLATE", "$CXX /c $CXXFLAGS $DRV_CFLAGS $PORT_IN_FILES /Fo$PORT_OUT_FILE"},
    {"win32", "DRV_CC_TEMPLATE", "$CC /c $CFLAGS $DRV_CFLAGS $PORT_IN_FILES /Fo$PORT_OUT_FILE"},
    {"win32", "DRV_LINK_TEMPLATE", "$LINKER $PORT_IN_FILES $LDFLAGS $DRV_LDFLAGS /OUT:$PORT_OUT_FILE"},
    {"win32", "ERL_LDFLAGS", " /LIBPATH:$ERL_EI_LIBDIR erl_interface_md.lib ei_md.lib"},
    {"win32", "DRV_CFLAGS", "/Zi /D__WIN32__ /DWIN32 /DWINDOWS /D_WIN32 /DNT /MD /Ox $ERL_CFLAGS"},
    {"win32", "DRV_LDFLAGS", "$ERL_LDFLAGS /DLL"}	
	
]}.
{eunit_opts, [verbose]}.
